
<%= include("header") =%>


<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit cupiditate eveniet laudantium tenetur molestiae eaque blanditiis! At aliquid ea quo ut suscipit aperiam et officia perferendis velit, nostrum libero?</p>

<%= include("footer") =%>